<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script th:inline="javascript">

</script>

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <div class="row bg-secondary py-2 px-xl-5">
    <div class="col-lg-6 d-none d-lg-block">
      <div class="d-inline-flex align-items-center">
        <a class="text-dark" href="">FAQs</a>
        <span class="text-muted px-2">|</span>
        <a class="text-dark" href="">Help</a>
        <span class="text-muted px-2">|</span>
        <a class="text-dark" href="">Support</a>
      </div>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <div class="d-inline-flex align-items-center">
          <div sec:authorize="isAnonymous()" >
              <a class="text-dark" th:href="@{/member/login}">로그인</a>
              <span class="text-muted px-2">|</span>
              <a class="text-dark" th:href="@{/member/signup}" th:field="signup">회원가입</a>
          </div>
          <div sec:authorize="isAuthenticated()">
              <a class="text-dark" sec:authorize="isAuthenticated()" href="#;" th:field="">회원명</a>
              <span class="text-muted px-2">|</span>
              <a class="text-dark"  th:href="@{/member/logout}" th:field="logout">로그아웃</a>
          </div>
      </div>
    </div>
  </div>
</div>

</html>