<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <title>회원가입</title>
    <link href="/css/signup.css" rel="stylesheet">
</head>

<div layout:fragment="content">
    <script th:inline="javascript">
        const log = console.log;

        /**
         * 아이디 중복 체크
         */
        function idOverlapChked() {
            let userId = document.getElementById('userId').value;
            let url = `/member/${userId}/exists`;

            if(userId === null || userId === ""){
                document.getElementById("idOverlapMessage").innerHTML = '아이디를 입력해주세요.';
                return;
            }

            ajax(url, userId);
        }

        function ajax(url, userId) {
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) { // 완료
                    if (xhr.status === 200) { // success
                        log(xhr);
                        let template;
                        if(xhr.response === "true"){
                            template = '사용 불가능한 아이디입니다.';
                        }else{
                            template = '사용 가능한 아이디입니다.';
                            document.getElementById("confirmId").innerHTML = userId;
                        }
                        document.getElementById("idOverlapMessage").innerHTML = template;
                    }
                }
            };
            xhr.open("GET", url, false);
            xhr.send();
        }


    </script>

    <section class="bg-light">
      <div class="container py-4">
        <div class="row align-items-center justify-content-between">
          <a class="navbar-brand h1 text-center" href="/">
            <span class="text-dark h4">dyShop</span> <span class="text-primary h4">회원가입</span>
          </a>
        </div>

        <form th:action="@{/member/signup}" th:object="${member}" method="post">
          <div class="form-group">
            <label for="userId" class="form-label mt-4">아이디</label><br>
            <input type="text" class="form-control" id="userId" th:field="*{userId}">
            <button class="btn btn-primary" type="button" id="idOverlapChk" th:onclick="|idOverlapChked()|">중복확인</button>
            <label class="is-valid" id="idOverlapMessage"></label>
            <input type="hidden" id="confirmId" th:field="*{confirmId}" />
          </div>

          <div class="form-group has-success">
            <label class="form-label mt-4" for="inputValid">비밀번호</label>
            <input type="password" class="form-control is-valid" id="inputValid" th:field="*{password}">
          </div>
          <div class="form-group has-danger">
            <label class="form-label mt-4" for="inputInvalid">비밀번호 재확인</label>
            <input type="password" class="form-control is-invalid" id="inputInvalid" th:field="*{rePassword}">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail4" class="form-label mt-4">이름</label>
            <input type="text" class="form-control" id="exampleInputEmail4" th:field="*{userName}">
          </div>
        <div class ="bir_wrap" th:field="*{address}">
            <label class="form-label mt-4">생년월일</label><br>
            <div class="bir_yy" style="float:left;width:30%;">
                <span class="ps_box">
                    <input type="text" class="form-control" id="yy" placeholder="년(4자)" maxlength="4">
                </span>
            </div>
            <div class="bir_mm" style="float:left;width:30%;">
                <span class="ps_box focus">
                    <select class="form-select" id="mm">
                        <option>월</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                     </select>
                </span>
            </div>
            <div class="bir_dd" style="float:left;width:30%;">
                <span class="ps_box">
                    <input type ="text" class="form-control" id ="dd" placeholder="일" maxlength="2">
                </span>
            </div>
        </div><br><br>
          <div class="form-group">
            <label for="sex" class="form-label mt-4">성별</label><br>
            <select class="form-select" id="sex" th:field="*{sex}">
              <option value="">선택</option>
              <option value="남자">남자</option>
              <option value="여자">여자</option>
            </select>
          </div>
          <div class="form-group">
            <label for="email" class="form-label mt-4">본인 확인 이메일</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="선택입력" th:field="*{email}">
          </div><br>

          <div class="d-grid gap-2">
            <button class="btn btn-primary btn-lg" type="button">가입하기</button>
          </div>
        </form>
      </div>
    </section>
</div>
</html>