<!-- 섹션 크기 -->
.bg-light{
    height: 1053px;
    padding-top:55px;
    padding-bottom:75px;
}
.flex-fill.mx-xl-5.mb-2{
    margin: 0 auto;
    width : 700px;
    padding-right: 7rem;
    padding-left: 7rem;
}
<!-- 입력창 -->
.container.py-4{
    margin: 0 auto;
    width : 503px;
}
<!-- 가입하기 -->
.d-grid.gap-2{
    padding-top: 30px;
}

.bir_mm+.bir_dd, .bir_yy+.bir_mm{
    padding-left:10px;
}

.btn-lg{width:100%;}

.form-select{
    border: 1px solid #EDF1FF;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    color : #495057;
}

#userId{width: 77%; float: left;}
#idOverlapChk{margin-left : 15px; width:20%; float: left;}
